
.welcome-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.karma-farm{
  font-size: 52px;
  font-family: 'Noto Sans', sans-serif;
}
.welcome-splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  height: 60vh;
  width: 95vw;
}
#kf-web-logo{
  height: 100%;
  width: 100%;
  max-width: 1080px;
}

.welcome-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-nav button{
  margin: 20px;
}
