.viewSub-view{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  display: grid;
  grid-template-columns: 10vw 20vw auto 20vw 10vw ;
  grid-template-rows: 15vh 20vh auto 20vh 20vh;
  /* justify-content: center; */
  /* align-items: center; */

}
.back-button{
  grid-column-start: 2;
  grid-row-start: 0;
}
.subReddit{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}
.best-time{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* graph */
.chart{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.top-100{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  height: 100vh;
  overflow: scroll;
  margin-bottom: 25px;
  border: 1px solid blue;
  box-sizing: border-box;
}
.post{
  display: flex;
  align-items: center;
}
