.viewSub-view{
  display: grid;
  grid-template-columns: 10vw auto 10vw ;
  grid-template-rows: 5vh 5vh auto 5vh 5vh auto 5vh auto;
  align-items: center;
  justify-content: center;
}
.back-button{
  grid-column-start: 2;
  grid-row-start: 1;
  width: 50px;
  height: 25px;
}
.subReddit{
  grid-row-start: 1;
  grid-column-start: 2;
  text-align: center;
  margin: 0;
}
.login-button{

}

.best-time{
  grid-column-start: 2;
  grid-row-start: 2;
}

.chart{
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: center;
}

.average-karma-header{
  grid-column-start: 2;
  grid-row-start: 4;
  text-align: center;
}
.top-100-header{
  grid-column-start: 2;
  grid-row-start: 5;
  text-align: center;
}
.top-100{
  grid-column-start: 2;
  grid-row-start: 6;
  height: 20vh;
  overflow: auto;
  margin-bottom: 25px;
}
.post{
  grid-column-start: 2;
  grid-row-start: 8;
  display: flex;
  align-items: center;
  border: 1px solid red;
  box-sizing: border-box;
  height: 50%;
  overflow: hidden;
}
.title{
  width: 40%;
}

.post p{
  font-size: 12px;
  width: 20%;
}
.post img{
  height: auto;
  width: auto;
}
