
.search-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  margin-top: 10px;
}

.search-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-field button{
  margin-right: 25px;
}
.search-form{
  margin-left: 5px;
}
.search-form input[type='submit']{
  border-radius: 15%;
  background-color: #FF4500;
  color: #FFFFFF;
}
.search-form input[type='text']{
  background-color: #FFFFFF;
}
